# THE CODE FOR WEBSCRAPING THE DATA FROM MYCAREERS FUTURE
> CREDITS TO __SAMSON LEE GONG HAO__ FOR SCRAPING THIS - JULY 2018

In [1]:
from bs4 import BeautifulSoup
import urllib #use request if throws ERROR 403
from selenium import webdriver
from time import sleep
import pandas as pd
import numpy as np

## Quick approach of first level job details

In [8]:
salaries = []
companies = []
titles = []
locations = []
emp_type = []
seniority = []
cat = []
 
for i in range(0,7):
    ##############open careersfuture webpage and selenium the html#############
    driver = webdriver.Chrome(executable_path="C:/Users/Samson/Downloads/chromedriver_win32/chromedriver")
    driver.get("https://www.mycareersfuture.sg/search?search=data%20scientist&page={}".format(i)) 
    # Wait one second.
    sleep(5)
    html = BeautifulSoup(driver.page_source, 'lxml')
    ##############iterate through job cards and get relevant details#############
    for job_card in html.find_all('div', id=lambda x: x and x.startswith('job-card-')):
        salaries.append(job_card.find_all('span', {'class':'lh-solid'}))
        companies.append(job_card.find_all('p', {'name':'company'}))
        titles.append(job_card.find_all('h1', {'name':'job_title'}))    
        locations.append(job_card.find_all('p', {'name':'location'}))
        emp_type.append(job_card.find_all('p', {'name':'employment_type'}))
        seniority.append(job_card.find_all('p', {'name':'seniority'}))
        cat.append(job_card.find_all('p', {'name':'category'}))
    driver.close()

In [9]:
#create dictionary and iterate through scraped list to append information
lists = [salaries, companies, titles, locations, emp_type, seniority, cat]
clean = {}
for ind, ls in enumerate(lists):
    clean[ind] = []
    for e in ls:
        try:
            clean[ind].append(e[0].text)
        except:
            clean[ind].append('NONE')
#convert dictionary into dataframe and rename columns
df = pd.DataFrame(clean)
df.columns = ['salaries', 'companies', 'titles', 'locations', 'emp_type', 'seniority', 'category']

In [10]:
len(df)

121

In [23]:
df.to_csv('salaries.csv', encoding='utf-8')

In [21]:
df

,salaries,companies,titles,locations,emp_type,seniority,category
0,Salary undisclosed,Company Undisclosed,Data Scientist,Central,Full Time,Professional,Information Technology
1,"$5,256to$7,008",UPS ASIA GROUP PTE. LTD.,APAC Data Scientist,East,Permanent,Manager,Logistics / Supply Chain
2,"$11,000to$20,500",AIRBNB SINGAPORE PRIVATE LIMITED,"Data Scientist - Analytics, Policy",Central,Full Time,Executive,Others
3,"$6,000to$7,000",RESMED ASIA PTE. LTD.,Data Scientist,South,Permanent ...,Executive,Engineering ...
4,"$7,482to$9,975",UPS ASIA GROUP PTE. LTD.,APAC Lead Data Scientist,East,Permanent,Middle Management,Logistics / Supply Chain
5,"$5,500to$6,500",RESMED ASIA OPERATIONS PTY LIMITED (SINGAPORE ...,Data Scientist,South,Permanent ...,Senior Executive,Healthcare / Pharmaceutical ...
6,"$6,000to$10,000",OAK CONSULTING PTE. LTD.,Data Scientist,East,Contract,Professional,Information Technology
7,"$4,500to$6,500",SENSE INFOSYS PTE. LTD.,Data Scientist,West,Full Time,Professional ...,Information Technology
8,"$6,000to$10,000",CERTIS CISCO SECURITY PTE. LTD.,Data Scientist,East,Full Time,Senior Executive,Information Technology
9,"$6,500to$13,000",ACCENTURE PTE LTD,Data Scientist,Islandwide,Permanent,Professional,Consulting
10,"$5,000to$8,000",TERALYTICS PTE. LTD.,Data Analyst - Data Scientist,East,Permanent ...,Professional,Information Technology
11,"$7,000to$10,000",IBM SINGAPORE PTE LTD,Data Scientist,Central,Permanent,Professional,Information Technology
12,"$4,000to$8,000",WECASH (ASIA PACIFIC) PTE. LTD.,Data Scientist,East,Permanent,Manager ...,Banking and Finance ...
13,"$2,200to$6,000",PORTCAST PTE. LTD.,Data Scientist,South,Full Time,Middle Management,Engineering
14,"$6,500to$13,000",DBS BANK LTD.,"Data Scientist Lead, IBG Digital, Institutiona...",East,Permanent ...,Senior Management ...,Banking and Finance
15,"$6,500to$13,000",DBS BANK LTD.,"VP / AVP, Data Scientist, IBG Digital, Insti...",East,Permanent ...,Manager ...,Banking and Finance
16,"$6,500to$13,000",DBS BANK LTD.,"VP / AVP, Data Scientist, IBG Digital, Insti...",East,Permanent ...,Manager ...,Banking and Finance
17,"$6,000to$10,000",PROCTER & GAMBLE INTERNATIONAL OPERATIONS SA S...,Research & Development - Data Scientist - Hair...,South,Permanent ...,Professional,Information Technology
18,Salary undisclosed,AMARIS.AI PTE. LTD.,AI DATA SCIENTIST (GENERALIST),Central,Permanent,Professional,Information Technology
19,"$5,000to$10,000",ETH SINGAPORE SEC LTD.,Data Scientist: Urban-Rural Systems (UR-Scape),South,Contract ...,Fresh/entry level ...,Sciences / Laboratory / R&D
20,"$6,000to$7,500",YOJEE PTE. LTD.,Data Scientist,Central,Full Time,Professional,Engineering
21,"$10,000to$15,000",AMARIS.AI PTE. LTD.,SENIOR AI DATA SCIENTIST (GENERALIST),Central,Full Time,Professional,Information Technology
22,"$6,000to$12,000",TERALYTICS PTE. LTD.,Data scientist,East,Permanent ...,Professional,Information Technology
23,"$7,000to$9,000",RANDSTAD PTE. LIMITED,Data Scientist,Central,Permanent,Professional,Information Technology
24,"$4,000to$6,000",TECH IN ASIA PTE. LTD.,Research Data Scientist,Central,Full Time,Professional ...,Engineering ...
25,"$6,000to$8,000",CREATIVE MEDIA WORKS PTE. LTD.,Data Scientist,Central,Full Time,Executive,Engineering
26,"$4,000to$9,000",AMARIS.AI PTE. LTD.,AI DATA SCIENTIST (MACHINE COMPREHENSION),Central,Permanent,Professional ...,Information Technology
27,"$9,000to$15,000",AMARIS.AI PTE. LTD.,SENIOR AI DATA SCIENTIST (MACHINE COMPREHENSION),Central,Permanent,Professional ...,Information Technology
28,"$4,500to$6,800",AXA DIL@ASIA PTE. LTD.,Data Scientist,Central,Full Time,Executive,Banking and Finance ...
29,"$6,000to$9,500",AXA DIL@ASIA PTE. LTD.,Mid Senior Data Scientist,Central,Full Time,Senior Executive,Banking and Finance ...
...,...,...,...,...,...,...,...
91,"$4,000to$12,000",BIGO TECHNOLOGY PTE. LTD.,Big Data Engineer,Central,Permanent,Senior Executive,Information Technology
92,"$6,000to$12,000",ERNST & YOUNG ADVISORY PTE. LTD.,"Manager, Big Data IM, Advisory",Central,Permanent ...,Manager,Consulting
93,"$4,100to$8,200",ERNST & YOUNG ADVISORY PTE. LTD.,"Senior Associate, Big Data IM, Advisory",Central,Permanent ...,Senior Executive,Consulting
94,"$6,500to$9,750",COMTEL SOLUTIONS PTE LTD,Data Analytics Analyst,East,Contract ...,Executive,Information Technology
95,"$6,500to$9,750",COMTEL SOLUTIONS PTE LTD,Data Analytics Analyst,East,Contract ...,Executive,Information Technology
96,"$8,000to$15,000",ORACLE CORPORATION SINGAPORE PTE LTD,ODC QA Software Engineer,South,Full Time,Professional,Information Technology
97,$1to$1,SGTech,information technology,Islandwide,Part Time ...,Manager ...,Engineering ...
98,"$4,000to$4,500",NANYANG TECHNOLOGICAL UNIVERSITY,Research Fellow,West,Contract ...,Professional ...,Sciences / Laboratory / R&D
99,"$3,500to$4,900",SEAGATE SINGAPORE INTERNATIONAL HEADQUARTERS P...,Data Science Training Program Associate,South,Permanent,Senior Executive,Admin / Secretarial ...
100,Salary undisclosed,DELTA ELECTRONICS INT'L (SINGAPORE) PTE. LTD.,Software Engineer,South,Full Time,Professional,Engineering
101,"$5,000to$8,000",LOVEBONITO SINGAPORE PTE. LTD.,Data Engineer,Central,Full Time,Professional,Information Technology
102,"$2,800to$5,600",Singapore Land Authority,"Senior Executive, Data Services",NONE,Contract,Fresh/entry level,Information Technology ...
103,"$2,500to$3,500",DUN & BRADSTREET (SINGAPORE) PTE. LTD.,Data Analyst,Central,Full Time,Executive,Others
104,"$4,200to$7,000",Singapore Land Authority,"Assistant Manager, GeoAnalytics",NONE,Contract,Middle Management,Information Technology ...
105,"$15,000to$25,000",Company Undisclosed,Data Scientist,NONE,Full Time,Senior Management,Information Technology
106,"$5,500to$7,500",Company Undisclosed,Data Scientist,Central,Full Time,Junior Executive,Others
107,"$3,200to$5,500",Company Undisclosed,Data Scientist,North,Permanent ...,Non-executive,Engineering ...
108,"$6,000to$10,000",Company Undisclosed,Data Scientist – Marketing (Partner),Central,Full Time,Professional,Information Technology
109,"$3,000to$5,500",Company Undisclosed,Data Scientist,South,Permanent,Senior Executive,Information Technology
110,"$11,000to$13,500",Company Undisclosed,Lead / Senior Data Scientist,South,Permanent,Middle Management,Information Technology
111,"$8,000to$12,000",Company Undisclosed,"Data Scientist, APAC (Singapore)",Central,Full Time,Executive,Advertising / Media
112,"$4,000to$8,000",Company Undisclosed,"Data Scientist, APAC (Singapore)",Central,Full Time,Executive,Advertising / Media
113,"$6,000to$10,000",Company Undisclosed,Data Scientist,Central,Full Time,Executive,Engineering
114,"$8,000to$12,000",Company Undisclosed,"Data Scientist, APAC (Singapore)",Central,Full Time,Executive,Advertising / Media
115,"$4,000to$8,000",Company Undisclosed,"Data Scientist, APAC (Singapore)",Central,Full Time,Executive,Advertising / Media
116,"$5,000to$11,000",Company Undisclosed,DATA SCIENTIST,East,Full Time,Senior Management,Information Technology
117,"$4,000to$5,000",Company Undisclosed,Research Fellow,West,Contract ...,Professional ...,Others
118,"$3,200to$4,000",Company Undisclosed,Project Officer,West,Contract ...,Professional ...,Others
119,"$3,400to$5,000",Company Undisclosed,Research Associate,West,Contract ...,Professional ...,Others
120,"$9,000to$12,000",Company Undisclosed,Data Warehouse and Reporting Specialist,Central,Full Time,Professional,Information Technology

## Get job_urls of all related search

In [50]:
job_urls = []

In [96]:
driver = webdriver.Chrome(executable_path="C:/Users/Samson/Downloads/chromedriver_win32/chromedriver")
for i in range(0,4):
    #######this part is manually done: input the key words and page range######
    ##############open careersfuture webpage and selenium the html#############    
#     driver.get("https://www.mycareersfuture.sg/search?search=data%20analyst&page={}".format(i)) #search data analyst
#     driver.get("https://www.mycareersfuture.sg/search?search=data%20scientist&page={}".format(i)) #search data scientist
#     driver.get("https://www.mycareersfuture.sg/search?search=analytics&page={}".format(i)) #search analytics
#     driver.get("https://www.mycareersfuture.sg/search?search=machine%20learning&page={}".format(i)) #machine learning
#     driver.get("https://www.mycareersfuture.sg/search?search=business%20intelligence&page={}".format(i)) #business intelligence
#     driver.get("https://www.mycareersfuture.sg/search?search=business%20analyst&page={}".format(i)) #business analyst
    driver.get("https://www.mycareersfuture.sg/search?search=data%20engineer&page={}".format(i)) #data engineer

    # Wait one second.
    sleep(5)
    html = BeautifulSoup(driver.page_source, 'lxml')
    for job_card in html.find_all('div', id=lambda x: x and x.startswith('job-card-')):
        job_urls.append('https://www.mycareersfuture.sg'+job_card.find('a')['href'])

In [99]:
job_urls2 = set(job_urls)
len(job_urls2)

1628

In [100]:
#save urls as csv
pd.DataFrame(list(job_urls2)).to_csv('job_url2.csv', encoding='utf-8')

In [2]:
job_df = pd.read_csv('job_url2.csv')
job_ls = job_df.iloc[:,1].values

## Loop through each job_url to get details

In [32]:
companies = []
titles = []
addresses = []
emp_type = []
seniority = []
category = []
salaries = []
responsibilities = []
requirements = []
failed_url = []


driver = webdriver.Chrome(executable_path="C:/Users/Samson/Downloads/chromedriver_win32/chromedriver")
for ind, url_job in enumerate(job_ls[1008:1012]): #error at 1010, to use try except for future runs
    try:
        driver.get(url_job)
        sleep(5)
        html_job = driver.page_source
        soup_job = BeautifulSoup(html_job, 'lxml')
        companies.append(soup_job.find('p', {'id': 'company'}))
        titles.append(soup_job.find('h1', {'id': 'job_title'}))
        addresses.append(soup_job.find('p', {'id': 'address'}))    
        emp_type.append(soup_job.find('p', {'id': 'employment_type'}))
        seniority.append(soup_job.find('p', {'id': 'seniority'}))
        category.append(soup_job.find('p', {'id': 'job-categories'}))
        salaries.append(soup_job.find('div', {'class': 'lh-solid'}))
        responsibilities.append(soup_job.find('div',{'id':'job_description'}))
        requirements.append(soup_job.find('div',{'id':'requirements'}))
    except:
        failed_url.append(url_job)

In [31]:
#create dictionary and iterate through scraped list to append information
lists = [companies, titles, addresses, emp_type, seniority, category, salaries, responsibilities, requirements]
clean = {}
for ind, ls in enumerate(lists):
    clean[ind] = []
    for e in ls:
        try:
            clean[ind].append(e.text)
        except:
            clean[ind].append('NONE')
#convert dictionary into dataframe and rename columns
df = pd.DataFrame(clean)
df.columns = ['Company', 'Title', 'Address', 'Emp_type', 'Seniority', 'Industry', 'Salary', 'Responsibility', 'Requirements']
df

,Company,Title,Address,Emp_type,Seniority,Industry,Salary,Responsibility,Requirements
0,INTERCONTINENTAL HOTELS GROUP (ASIA PACIFIC) P...,"Manager, Sales Effectiveness - SEAK","BUGIS JUNCTION, 230 VICTORIA STREET 188024",Permanent,Manager,Sales / Retail,"$6,000to$11,000",Roles & ResponsibilitiesWhat's your passion? W...,RequirementsEducation – Bachelor's degree in B...
1,CLARIANT (SINGAPORE) PTE. LTD.,Data Scientist,"THE SYNERGY, 1 INTERNATIONAL BUSINESS PARK 609917","Permanent, Full Time","Middle Management, Manager, Professional","Manufacturing, Others","$5,000to$8,000",Roles & ResponsibilitiesResponsibilities: Per...,RequirementsRequirements: Master in chemistry...
2,CAPGEMINI SINGAPORE PTE. LTD.,.Net Developer (1-year contract),6 BATTERY ROAD 049909,Contract,Professional,Information Technology,"$4,000to$6,500",Roles & ResponsibilitiesObjective Align with ...,RequirementsQualification o Training Bachelo...

In [17]:
#save dataframe into csv
df.to_csv('salary_df.csv', encoding='utf-8')

In [37]:
salary_df = pd.read_csv('salary_df.csv')
salary_df.drop('Unnamed: 0', axis=1)

,Company,Title,Address,Emp_type,Seniority,Industry,Salary,Responsibility,Requirements
0,SKILLSFUTURE SINGAPORE AGENCY,"Executive, (Quality Management Division) (6-mo...","ONE MARINA BOULEVARD, 1 MARINA BOULEVARD 018989",Contract,NONE,Public / Civil Service,NONE,Roles & ResponsibilitiesResponsibilities\r\n\r...,NONE
1,HP PPS ASIA PACIFIC PTE. LTD.,Business Analyst,1 DEPOT CLOSE 109841,"Permanent, Full Time",Professional,Others,"$8,400to$12,900",Roles & ResponsibilitiesHP is the world’s lead...,RequirementsEducation and Experience Required:...
2,SHOPEE SINGAPORE PRIVATE LIMITED,Software Engineer,"GALAXIS, 1 FUSIONOPOLIS PLACE 138522","Permanent, Full Time",Executive,Information Technology,"$4,400to$8,000",Roles & ResponsibilitiesResponsibilities: De...,RequirementsRequirements: Minimum B.S. degre...
3,PRICEWATERHOUSECOOPERS CONSULTING (SINGAPORE) ...,Data Analytics –Manager,"MARINA ONE EAST TOWER, 7 STRAITS VIEW 018936","Permanent, Contract, Full Time",Manager,Consulting,"$6,200to$9,500",Roles & Responsibilities Advisory - Consulting...,Requirements A good Degree in a quantitative ...
4,Company Undisclosed,Research Fellow,NONE,"Contract, Full Time","Professional, Executive",Others,"$4,000to$5,000",Roles & ResponsibilitiesData Scientist / Progr...,Requirements Doctorate degree in a relevant fi...
5,Republic Polytechnic,Office of Student and Graduate Affairs - Admin...,9 WOODLANDS AVENUE 9 738964,Full Time,NONE,"Education and Training, Public / Civil Service",NONE,Roles & ResponsibilitiesJob Responsibilities T...,NONE
6,"JPMORGAN CHASE BANK, N.A.","Application Support Analyst, Reference Data Team",NONE,Full Time,Executive,Information Technology,"$6,000to$12,000",Roles & ResponsibilitiesWe are seeking an Appl...,RequirementsQualifications 7-10 years Product...
7,"JPMORGAN CHASE BANK, N.A.",CyberSecurity Business Resiliency Analyst and ...,NONE,Full Time,Executive,Information Technology,"$7,500to$15,000",Roles & ResponsibilitiesWorking in Cybersecuri...,Requirements• Bachelors’ degree in computer sc...
8,Company Undisclosed,Software Engineer (Ref 21711),NONE,"Contract, Full Time",Executive,Information Technology,"$2,500to$5,000",Roles & Responsibilities- Research and develop...,Requirements- Degree in Computer Science/Infor...
9,FINSURGE PTE. LTD.,Murex Technical Migration Consultant,"THE SIGNATURE, 51 CHANGI BUSINESS PARK CENTRAL...",Permanent,"Middle Management, Professional",Information Technology,"$4,000to$7,000",Roles & ResponsibilitiesFinSurge is undertakin...,RequirementsMust Have: Hands on experience i...
10,BLUECHIP PLATFORMS ASIA PTE. LTD.,"Associate Director, Portfolio Analytics, Inves...",NONE,Full Time,Manager,Banking and Finance,NONE,Roles & Responsibilities Building of framework...,Requirements Minimum 6 years' relevant experie...
11,ESSENCE GLOBAL MEDIA SINGAPORE PTE. LTD.,Analytics Director,"THE HOUSE OF EDEN, 4 ROBINSON ROAD 048543",Permanent,Senior Management,Advertising / Media,"$90,000to$130,000","Roles & ResponsibilitiesAbout Essence Essence,...",RequirementsA bit about yourself: Degree fro...
12,VIRIDIAN PARTNERS PTE. LTD.,Senior Business Analyst,"SGX CENTRE II, 4 SHENTON WAY 068807",Permanent,Senior Executive,"Consulting , Banking and Finance, General Mana...","$4,000to$4,500",Roles & Responsibilities Develop & present Bus...,"Requirements Experience, knowledge and interes..."
13,KEPPEL DATA CENTRES HOLDING PTE. LTD.,"Senior Engineer, DCIM ( Data Center Infrastruc...","KEPPEL BAY TOWER, 1 HARBOURFRONT AVENUE 098632",Full Time,Executive,Engineering,"$4,500to$6,500",Roles & Responsibilities Ensure DCIM systems ...,"Requirements Degree in Electrical Engineering,..."
14,Republic Polytechnic,School of Management and Communication - Assoc...,9 WOODLANDS AVENUE 9 738964,Contract,NONE,"Education and Training, Public / Civil Service",NONE,Roles & ResponsibilitiesJob Responsibilities F...,NONE
15,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE
16,SINGAPORE INSTITUTE OF TECHNOLOGY,Professional Officer (ICT),10 DOVER DRIVE 138683,Contract,"Professional, Executive","Information Technology, Sciences / Laboratory ...",NONE,Roles & ResponsibilitiesThe Professional Offic...,Requirements At least 3 years of relevant work...
17,WESTERN UNION BUSINESS SOLUTIONS (SINGAPORE) P...,Digital Relationship Manager,"ROBINSON 77, 77 ROBINSON ROAD 068896",Permanent,Manager,Banking and Finance,"$3,000to$5,000",Roles & ResponsibilitiesIn this role you will ...,Requirements 3+ years of progressive sales/ser...
18,STANDARD CHARTERED BANK,"Associate, Compliance, Conflicts of Interest &...","MARINA BAY FINANCIAL CENTRE, 8 MARINA BOULEVAR...",Full Time,"Professional, Senior Executive",Banking and Finance,"$3,450to$6,900",Roles & ResponsibilitiesRESPONSIBILITIES: • ...,RequirementsQUALIFICATIONS: • Good educatio...
19,OMD SINGAPORE PTE. LTD.,Associate Director,"SPRINGLEAF TOWER, 3 ANSON ROAD 079909",Full Time,Middle Management,Advertising / Media,"$6,000to$9,000",Roles & ResponsibilitiesScope of role: The Ass...,RequirementsExperience required: 5+ years rel...
20,BERKELEY EDUCATION ALLIANCE FOR RESEARCH IN SI...,Postdoctoral Scholar / Research Engineer,NONE,Contract,Non-executive,Others,NONE,Roles & ResponsibilitiesBEARS is a not-for pro...,"Requirements PhD in Electrical Engineering, or..."
21,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE
22,MAVENTREE TECHNOLOGY PTE. LTD.,System Analyst (GIS),600 SIN MING AVENUE 575733,Permanent,Middle Management,Information Technology,"$4,000to$6,300",Roles & ResponsibilitiesJob Scope : Developme...,Requirements Minimum educational qualification...
23,TSA TRAINING SERVICES PTE LTD,Senior Business Analyst,"OC@PASIR PANJANG, 100H PASIR PANJANG ROAD 118524",Permanent,Senior Executive,Others,"$4,000to$6,000",Roles & ResponsibilitiesReporting to the Direc...,RequirementsRequirements: Minimum 3 years exp...
24,A*STAR RESEARCH ENTITIES,Research Engineer (Human Language Technology) ...,"UOB PLAZA, 80 RAFFLES PLACE 048624","Contract, Full Time",Professional,Sciences / Laboratory / R&D,"$2,500to$5,000",Roles & ResponsibilitiesAbout the Institute fo...,Requirements Minimum Bachelor degree in lingui...
25,DDB WORLDWIDE PTE LTD,Copywriter,"PICO CREATIVE CENTRE, 20 KALLANG AVENUE 339411","Permanent, Full Time",Senior Executive,Advertising / Media,"$3,000to$6,000",Roles & ResponsibilitiesDDB is the Most-Awarde...,RequirementsRequired Skills & Preferred Qualif...
26,A*STAR RESEARCH ENTITIES,BII - Research Officer (Machine Learning and C...,NONE,"Contract, Full Time",Non-executive,Sciences / Laboratory / R&D,"$2,500to$5,000",Roles & ResponsibilitiesAbout the Bioinformati...,Requirements BSc in computer science and engin...
27,EVAGROUP ASIA PACIFIC PTE. LTD.,Cloud Solution Architect,"HONG LEONG BUILDING, 16 RAFFLES QUAY 048581",Permanent,Professional,Information Technology,"$3,000to$6,000",Roles & ResponsibilitiesContext: EVA Group APA...,RequirementsMandatory Skillset/Experience: Pr...
28,CHARTERHOUSE PTE. LTD.,"Hosted Platforms Lead, APAC (product and pre-s...","BANK OF CHINA BUILDING, 4 BATTERY ROAD 049908",Permanent,Manager,Information Technology,NONE,Roles & ResponsibilitiesThe Manager/Senior Man...,Requirements ~ Analyse data for business insig...
29,SKILLSFUTURE SINGAPORE AGENCY,"Manager, Intelligence and Analytics [Private E...","ONE MARINA BOULEVARD, 1 MARINA BOULEVARD 018989",Full Time,NONE,Public / Civil Service,NONE,"Roles & Responsibilities As a Manager, Intell...",NONE
...,...,...,...,...,...,...,...,...,...
1597,INFOGAIN SOLUTIONS PTE. LIMITED,Business Analyst,"SHENTON HOUSE, 3 SHENTON WAY 068805",Contract,Professional,Information Technology,"$5,300to$6,500",Roles & ResponsibilitiesRequirements Analysis ...,Requirements- 5 or more years of experience in...
1598,ADECCO PERSONNEL PTE LTD,Business Analyst,"SHAW CENTRE, 1 SCOTTS ROAD 228208","Contract, Full Time",Executive,"Banking and Finance, Information Technology","$4,000to$8,000",Roles & ResponsibilitiesIn a challenging and m...,RequirementsThis position requires a minimum o...
1599,THE SUPREME HR ADVISORY PTE. LTD.,Data Analyst - Gaming attachment 8 Months camb...,"AZ @ PAYA LEBAR, 140 PAYA LEBAR ROAD 409015",Full Time,Professional,Information Technology,"$3,000to$6,000",Roles & Responsibilities• Conduct in-depth pro...,Requirements• Comfortable with bei...
1600,TECHCOM SOLUTIONS ASIA PACIFIC PTE. LTD.,Automation Engineer,"SHENTON HOUSE, 3 SHENTON WAY 068805","Permanent, Contract",Professional,Information Technology,"$4,500to$5,000",Roles & ResponsibilitiesAutomation engineer– n...,Requirements The ideal candidate shall possess...
1601,R SYSTEMS (SINGAPORE) PTE LIMITED,Walkin interviews 29th June 11:00 AM Onwards,"HOI HUP BUILDING, 16 JALAN KILANG 159416",Contract,Executive,Information Technology,"$2,500to$8,000",Roles & ResponsibilitiesPlease find below acti...,RequirementsPlease bring along your Resume
1602,KELLY SERVICES (SINGAPORE) PTE. LTD.,SAS Development Lead,"ASIA SQUARE TOWER 1, 8 MARINA VIEW 018960",Contract,Professional,Information Technology,"$5,000to$7,500",Roles & ResponsibilitiesKey Responsibilities ...,RequirementsKey Requirements Experienced wo...
1603,STANDARD CHARTERED BANK,Business Analyst (PBWM),"MARINA BAY FINANCIAL CENTRE, 8 MARINA BOULEVAR...","Permanent, Full Time",Executive,Banking and Finance,"$5,000to$9,000",Roles & ResponsibilitiesAbout Standard Charter...,RequirementsOur Ideal Candidate Must have pre...
1604,EIRE SYSTEMS SINGAPORE PTE. LTD.,System Engineer - Data Centre Automation,"KEPPEL TOWERS, 10 HOE CHIANG ROAD 089315",Full Time,Professional,Information Technology,"$4,000to$5,000","Roles & Responsibilities Implementation, monit...",Requirements Knowledge of ITIL processes and m...
1605,MAYBANK KIM ENG SECURITIES PTE. LTD.,Web Developer,NONE,Permanent,Executive,"Banking and Finance, Information Technology",NONE,Roles & ResponsibilitiesResponsibilities: ...,RequirementsRequirements: Environment: Visual...
1606,Company Undisclosed,"Director, Business Intelligence, South-East Asia","ODEON TOWERS, 331 NORTH BRIDGE ROAD 188720","Permanent, Full Time","Middle Management, Manager","Consulting , Risk Management, Professional Ser...","$10,000to$13,000",Roles & ResponsibilitiesControl Risks is a spe...,RequirementsKnowledge and experience The ideal...
1607,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE
1608,DBS BANK LTD.,"Data Scientist Lead, IBG Digital, Institutiona...",NONE,"Permanent, Full Time","Senior Management, Manager",Banking and Finance,"$6,500to$13,000",Roles & ResponsibilitiesJob Purpose The Lead ...,Requirements For PhD holders (in computer scie...
1609,DECISION SCIENCE AGENCY PTE. LTD.,Japanese Speaking Web Analyst,38B CRAIG ROAD 089676,Permanent,Executive,"Consulting , Information Technology, Others","$4,000to$6,000",Roles & ResponsibilitiesDecision Science Agenc...,RequirementsJob Requirements Proficiency in s...
1610,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE
1611,NANYANG TECHNOLOGICAL UNIVERSITY,Research Associate,"NANYANG TECHNOLOGICAL UNIVERSITY, 50 NANYANG A...","Contract, Full Time",Professional,"Engineering, Sciences / Laboratory / R&D","$4,000to$6,000",Roles & ResponsibilitiesWho are we looking for...,Requirements A Master degree in a relevant dis...
1612,Company Undisclosed,Data Scientist,NONE,"Permanent, Full Time",Non-executive,"Engineering, Manufacturing","$3,200to$5,500",Roles & ResponsibilitiesResponsibilities: Alig...,RequirementsRequirements: •Doctorate Degree or...
1613,Company Undisclosed,Datawarehouse Consultant,NONE,"Contract, Full Time",Executive,Information Technology,"$4,500to$6,500",Roles & ResponsibilitiesThe Power BI developer...,Requirements 3+ years experience developing an...
1614,DBS BANK LTD.,"AVP, Mobile Delivery Manager, Group Consumer B...",NONE,"Permanent, Full Time","Manager, Professional",Banking and Finance,"$6,500to$13,000",Roles & ResponsibilitiesJob Purpose The deliv...,Requirements The successful candidate will hav...
1615,FLOW TRADERS ASIA PTE. LTD.,Quantitative Researcher,"ASIA SQUARE TOWER 1, 8 MARINA VIEW 018960",Permanent,Fresh/entry level,Banking and Finance,"$6,500to$8,500",Roles & ResponsibilitiesDo you love solving pu...,RequirementsWhat You Need to Succeed: An acad...
1616,Company Undisclosed,Marketing Analyst Manager,NONE,Full Time,Manager,Information Technology,"$10,000to$15,000",Roles & ResponsibilitiesThe roles will report ...,Requirements Must be highly technical/strong s...
1617,CITIBANK N.A.,O&T - TTS APAC Technology Payments and Receiva...,NONE,Full Time,Senior Executive,Banking and Finance,"$8,000to$10,500",Roles & ResponsibilitiesJob Description: APA...,RequirementsQualification: Bachelor Degree i...
1618,TATA CONSULTANCY SERVICES ASIA PACIFIC PTE. LTD.,Business Analyst,NONE,Permanent,Executive,Information Technology,"$4,500to$6,500",Roles & ResponsibilitiesBusiness Requirements ...,Requirements· 3 – 4 years of experienc...
1619,KERRY CONSULTING PTE. LTD.,APAC Business Analyst – Specialty chemicals,"SUNTEC TOWER FOUR, 6 TEMASEK BOULEVARD 038986","Permanent, Full Time",Senior Executive,Banking and Finance,"$5,000to$7,500",Roles & Responsibilities• Global specialty che...,RequirementsThe successful candidate will poss...
1620,Company Undisclosed,NVE Product Engineer (Dispo),NONE,"Permanent, Full Time",Non-executive,"Engineering, Manufacturing","$3,400to$6,800",Roles & ResponsibilitiesJob Responsibilities: ...,RequirementsRequirements: •Bachelor's/Master's...
1621,DENTSU AEGIS NETWORK ASIA PACIFIC PTE. LTD.,Software Engineer,"GUOCO TOWER, 1 WALLICH STREET 078881",Full Time,Junior Executive,Information Technology,"$2,500to$4,000",Roles & ResponsibilitiesAbout the role We are ...,RequirementsQualifications and Education Requi...
1622,SGTech,information technology,79 AYER RAJAH CRESCENT 139955,"Part Time, Permanent, Temporary, Contract, Fle...","Manager, Fresh/entry level, Executive, Junior ...","Engineering, Information Technology, Others, S...",$1to$1,Roles & ResponsibilitiesTalentGuru (www.talent...,"RequirementsFor more details, visit talentguru..."
1623,"STANDARD & POOR'S INTERNATIONAL,LLC","Senior Analyst, Sales Operations","MARINA BAY FINANCIAL CENTRE, 12 MARINA BOULEVA...",Full Time,Executive,Banking and Finance,"$8,000to$13,000",Roles & ResponsibilitiesThe Role: The position...,RequirementsQualifications: 4-6 years of prof...
1624,ACCENTURE PTE LTD,Digital API Architect,"RAFFLES CITY TOWER, 250 NORTH BRIDGE ROAD 179101","Permanent, Full Time","Senior Management, Middle Management, Manager,...",Information Technology,"$4,000to$8,000",Roles & ResponsibilitiesJoin Accenture and hel...,RequirementsBasic Qualifications: Minimum of ...
1625,PAN-UNITED CONCRETE PTE LTD,Business Analyst,NONE,"Permanent, Full Time",Executive,"Admin / Secretarial, Information Technology","$3,000to$4,000",Roles & Responsibilities Analyses the feasibil...,Requirements Degree in business administration...
1626,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE

In [40]:
salary_df = salary_df.replace('NONE', np.nan)

In [41]:
salary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1627 entries, 0 to 1626
Data columns (total 10 columns):
Unnamed: 0        1627 non-null int64
Company           1469 non-null object
Title             1469 non-null object
Address           1089 non-null object
Emp_type          1469 non-null object
Seniority         1425 non-null object
Industry          1469 non-null object
Salary            1302 non-null object
Responsibility    1469 non-null object
Requirements      1398 non-null object
dtypes: int64(1), object(9)
memory usage: 127.2+ KB